{if="$erro != ''"}
<script>
    window.onload = function(){
        M.toast({html: '{$erro}'});
    }
</script>
{/if}

<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <h3 align="center">Adicionar Categoria</h3>
        <hr>
        <form method="POST">
            <div class="input-group flex-nowrap shadow-sm">
                <span class="input-group-text" id="input2"><i class="fas fa-bookmark"></i></span>
                <input type="text" class="form-control" name="nome" id="nome" required="" value="{$nome}" aria-describedby="input2" placeholder="Nome da Categoria">
            </div>


<hr>
        <button type="submit" class="btn green" style="float: right; margin-left: 10px"><i class="material-icons">check</i> Adicionar</button>
        <a href="/adminCat/search/0" class="btn" style="float: right"><i class="material-icons">keyboard_return</i> Voltar</a>
        </form>
    </div>
</div>