

<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <h3 align="center">Adicionar Categoria</h3>
        <hr>

        {if="$erro != ''"}
            <p id="error">{$erro}</p>
        {/if}

        <form method="POST">
            <div class="input-group flex-nowrap shadow-sm">
                <span class="input-group-text" id="input2"><i class="fas fa-bookmark"></i></span>
                <input type="text" class="form-control" name="nome" id="nome" required="" value="{$nome}" aria-describedby="input2" placeholder="Nome da Categoria">
            </div>


<hr>
        <button type="submit" class="btn btn-success" style="float: right; margin-left: 10px"><i class="fas fa-check"></i> Adicionar</button>
        <a href="/adminCat/search/0" class="btn btn-secondary" style="float: right"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
        </form>
    </div>
</div>