<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <form method="POST" enctype="multipart/form-data">
            <h3 align="center">Adicionar Notícia</h3>
            <hr>

            {if="$erro != ''"}
                <p id="error">{$erro}</p>
            {/if}

            <div class="input-group flex-nowrap shadow-sm" style="margin-bottom: 10px">
                <span class="input-group-text" id="input1"><i class="fas fa-paragraph"></i></span>
                <input type="text" class="form-control form-control-lg" name="titulo" id="titulo" required="" value="{$titulo}" placeholder="Título da Notícia" aria-describedby="input1">
            </div>
            <div align="right" style="margin: -13px 0px 8px 0px"><small><span  id="contadorTitulo">0</span> / 45</small></div>
            <div class="shadow-sm" style="margin-bottom: 10px">
                <h4 align="center" style="margin-bottom: -30px">Corpo da Notícia</h4>
                <br>
                <br>
                <textarea name="corpo" id="corpo" required="">{$corpo}</textarea>
            </div>
            <div class="input-group flex-nowrap shadow-sm" style="margin-bottom: 10px">
                <span class="input-group-text" id="input2"><i class="fas fa-paragraph"></i></span>
                <input type="text" class="form-control form-control-lg" name="resumo" id="resumo" required="" value="{$resumo}" placeholder="Resumo da Notícia" aria-describedby="input2">
            </div>
            <div align="right" style="margin: -13px 0px 8px 0px"><small><span id="contadorResumo">0</span> / 110</small></div>
            <div class="input-group flex-nowrap shadow-sm" style="margin-bottom: 10px">
                <span class="input-group-text" id="input3"><i class="fas fa-bookmark"></i></span>
                <select class="form-select" id = "categoria" name = "categoria" aria-describedby="input3">
                    <option value="" disabled selected>Selecione uma Categoria</option>
                    {loop="$categorias"}
                        <option value = {$value.id}>{$value.nome}</option>
                    {/loop}
                </select>
            </div>
            <div class="input-group flex-nowrap shadow-sm" style="margin-bottom: 10px">
                <span class="input-group-text" id="input3"><i class="fas fa-image"></i></span>
                <input type="file" class = "form-control" name="imagem" id="imagem" required="" onchange="loadFile(event)">
            </div>
            <label class="text-muted">Imagem Selecionada:</label>
            <img id="previewImage" src="../../res/site/defaults/default.jpg" width="200" height="200" style="border: 1px solid black" class="col-md-5 offset-md-1">

            <input type="hidden" name="usuario" id="usuario" value="{$usuario}">

            <hr>
            <button type="submit" class="btn btn-success" style="float: right; margin-left: 10px"><i class="fas fa-check"></i> Adicionar</button>
            <a href="/adminNews/search/0" class="btn btn-secondary" style="float: right"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
        </form>
    </div>
</div>
</div>
<br>
<br>
<br>

