<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <h3 align="center">Deletar Comentário</h3>
        <hr>
        <form method="POST">
            <h4 style="color: gray">Deseja mesmo deletar o comentário?</h4>
            <button type="submit" class="btn btn-success" style="float: right; margin-left: 10px"><i class="fas fa-check"></i> Deletar</button>
            <a href="/admin/search/0" class="btn btn-secondary" style="float: right"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
        </form>
    </div>
</div>