{if="$erro != ''"}
<script>
    window.onload = function(){
        M.toast({html: '{$erro}'});
    }
</script>
{/if}
<div class="row">
    <div class="col s12 m6 push-m3">
        <form method="POST">
            <h3 class="light"; align="left">Editar Notícia</h3>
            <div class="input-field col s12">
                <input type="text" name="titulo" id="titulo", value="{$noticia.Titulo}">
                <label for="nome">Titulo</label>
            </div>
            <div class="input-field col s12">
                <label>Corpo</label>
                <br>
                <br>
                <textarea name="corpo" id="corpo">{$noticia.Corpo}</textarea>
            </div>
            <div class="input-field col s12">
                <input type="text" name="resumo" id="resumo", value="{$noticia.Resumo}">
                <label for="nome">Resumo</label>
            </div>
            <div class="input-field col s12">
                <select id = "categoria" name = "categoria">
                    <option value="{$noticia.Id_Categoria_FK}" selected>{function="getNameCategorie($noticia.Id_Categoria_FK)"}</option>
                    {loop="$categorias"}
                    {if="$value.Id != $noticia.Id_Categoria_FK"}
                    <option value = {$value.Id}>{$value.Nome}</option>
                    {/if}
                    {/loop}
                </select>
                <label for="categoria">Categoria</label>
            </div>
            <input type="hidden" id="id" name="id" value={$noticia.Id}>


<hr>
        <button type="submit" class="btn green" style="float: right; margin-left: 10px"><i class="material-icons">check</i> Editar</button>
        <a href="/adminNews/search/0" class="btn" style="float: right"><i class="material-icons">keyboard_return</i> Voltar</a>
        </form>
    </div>
</div>
     <br>
     <br>
     <br>
