<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <h3 align="center">Editar Categoria</h3>

        <hr>

        {if="$erro != ''"}
            <p id="error">{$erro}</p>
        {/if}

        <form method="POST">
            <div class="input-group flex-nowrap shadow-sm">
                <span class="input-group-text" id="input1"><i class="fas fa-bookmark"></i></span>
                <input type="text" class="form-control" name="nome" id="nomeCat" required="" value="{$categoria.nome}" aria-describedby="input1">
            </div>
            <div align="right"><small><span id="contadorCategoriaNome">{function="lenghtStr($categoria.nome)"}</span> / 25</small></div>
            <input type="hidden" id="id" name="id" value={$categoria.id}>


<hr>
        <button type="submit" class="btn btn-success" style="float: right; margin-left: 10px"><i class="fas fa-check"></i> Editar</button>
        <a href="/adminCat/search/0" class="btn btn-secondary" style="float: right"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
        </form>
    </div>
</div>
</div>