
        <footer class="footer page-footer">
          <div class="footer-copyright grey darken-3">
            <div class="container">
            © 2021 CRM Soluções
            <a class="grey-text text-lighten-4 right" href="https://github.com/Gabrielopes01" target="_blank"><i class="material-icons" style="margin-top: 2px">explore</i> GitHub: Gabrielopes01</a>
            </div>
          </div>
        </footer>


<script>
    $(document).ready(function(){
        $('select').formSelect();
    });

  function mouseSobre(variavel){
    variavel.style.backgroundColor = "#37474f";
  }

    function mouseSaiu(variavel){
    variavel.style.backgroundColor = "black";
  }
</script>

<script>
    CKEDITOR.replace('corpo',{
      extraPlugins: 'editorplaceholder',
      editorplaceholder: 'Escreva mais sobre a notícia...'
    });
</script>

</body>
</html>