
        <footer class="footer mt-auto">
          <div class="footer-copyright grey darken-3">
            <div class="container" style="text-align: center">
            © 2021 CRM Soluções - Criado Por
            <a href="https://github.com/Gabrielopes01" target="_blank" id="nameGit"></i> Gabriel Lopes</a>
            </div>
          </div>
        </footer>

<script>
    $(document).ready(function(){
      $("#data").datepicker({
        showButtonPanel:true,
        dateFormat: 'dd/mm/yy'
      });
    });
</script>

<script>
    CKEDITOR.replace('corpo',{
      extraPlugins: 'editorplaceholder',
      editorplaceholder: 'Escreva mais sobre a notícia...'
    });
</script>

</body>
</html>