
        <footer class="footer mt-auto">
          <div class="footer-copyright grey darken-3">
            <div class="container" style="text-align: center">
            © 2021 CRM Soluções - GitHub:
            <a href="https://github.com/Gabrielopes01" target="_blank" id="nameGit"><i class="fas fa-file-code"></i> Gabrielopes01</a>
            </div>
          </div>
        </footer>

<script>
    $(document).ready(function(){
        $('select').formSelect();
        $(".dropdown-trigger").dropdown();
        $('.datepicker').datepicker({
          format: 'dd/mm/yyyy',
          i18n: {
            cancel: 'Cancelar',
            monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
            months: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
            weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
          }
        });
        $('input#resumo').characterCounter(); //Limites de caracteres
    });

  function mouseSobre(variavel){
    variavel.style.backgroundColor = "#37474f";
  }

    function mouseSaiu(variavel){
    variavel.style.backgroundColor = "black";
  }
</script>

<script>
    CKEDITOR.replace('corpo',{
      extraPlugins: 'editorplaceholder',
      editorplaceholder: 'Escreva mais sobre a notícia...'
    });
</script>

</body>
</html>