  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Admin</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import Materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Custom CSS-->
      <link rel="stylesheet" type="text/css" href="../../res/site/style.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!--Jquery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Compiled and minified JavaScript Materalize -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!--CKEditor-->
      <script src="https://cdn.ckeditor.com/4.15.1/standard-all/ckeditor.js"></script>


    </head>

    <body>
<ul class="menu #263238 z-depth-3">
  <li class="itemMenu"><img src="../../res/site/images/logo.png" class="imagem responsive-img"></li>
  <li class="titulo">Gerenciamento do Forum</li>
  <li class="itemMenu"><a class="selecaoMenu" href="/" style="background-color: black; color:white;" onmouseover="mouseSobre(this)" onmouseout="mouseSaiu(this)">Home</a></li>
  {if="$nome != ''"}
  <li class="lilogin"><a class="selecaoMenu" href="/logout" onmouseover="mouseSobre(this)" onmouseout="mouseSaiu(this)">Logout</a></li>
  {/if}
</ul>


