{if="$message != ''"}
<script>
    window.onload = function(){
        M.toast({html: '{$message}'});
    }
</script>
{/if}

<div class="row">
    <div class="col s12 m6 push-m3">
        <h3 class="light"; align="left">Usuários</h3>
<form method="POST">
        <ul class="listaFiltro z-depth-3">
            <li class="tituloFiltro">Busca: </li>
            <li class="busca">
                {if="$filtros.nome != ''"}
                <div class="input-field col s12">
                <input type="text" name="nome" id="nome" style="color: white; width: 50%" value="{$filtros.nome}">
                <input type="hidden" name="verBuscaNome" id="verBuscaNome" value="1">
                {else}
                <button class="btn gray" style="margin-top: 21px;" id="buscaNome" onclick="searchName()">Nome</button>
                <div class="input-field col s12">
                <input type="hidden" name="nome" id="nome" style="color: white; width: 50% ">
                <input type="hidden" name="verBuscaNome" id="verBuscaNome" value="0">
                {/if}
                <label for="nome" style="color: white; width: 50%">Nome</label>
                </div>
            </li>
            <li class="busca">
                {if="$filtros.email != ''"}
                <div class="input-field col s12">
                <input type="text" name="email" id="email" style="color: white; width: 50%" value="{$filtros.email}">
                <input type="hidden" name="verBuscaEmail" id="verBuscaNome" value="1">
                {else}
                <button class="btn gray" style="margin-top: 21px;" id="buscaEmail" onclick="searchEmail()">Email</button>
                <div class="input-field col s12">
                <input type="hidden" name="email" id="email" style="color: white; width: 50%">
                <input type="hidden" name="verBuscaEmail" id="verBuscaEmail" value="0">
                {/if}
                <label for="email" style="color: white; width: 50%">Email</label>
                </div>
            </li>
            <li class="busca">
                {if="$filtros.data != ''"}
                <div class="input-field col s12">
                <input type="text" name="data" id="data" style="color: white; width: 50%" value="{$filtros.data}">
                <input type="hidden" name="verBuscaData" id="verBuscaData" value="1">
                {else}
                <button class="btn gray" style="margin-top: 21px;" id="buscaData" onclick="searchDate()">Data</button>
                <div class="input-field col s12">
                <input type="hidden" name="data" id="data" style="color: white; width: 50%">
                <input type="hidden" name="verBuscaData" id="verBuscaData" value="0">
                {/if}
                <label for="data" style="color: white; width: 50%">Data</label>
                </div>
            </li>
        </ul>
        <br>
        <a href="/admin/search/0" class="btn red" style="float: right; margin-left: 10px; margin-top: -15px">Limpar Busca</a>
        <button type="submit" class="btn gray" style="float: right; margin-top: -15px"><i class="material-icons">search</i></button>
</form>
    <br>
    <hr>
        <table class="striped">
            <thead>
                <th>Nome</th>
                <th>Email</th>
                <th>Criação</th>
            </thead>
            <tbody>
                {loop="$usuarios"}
                <tr>
                    <td>{$value.Nome}</td>
                    <td>{$value.Email}</td>
                    <td>{function="formatDate($value.Data)"}</td>
                    <td><a href="/admin/edit/{$value.Id}" class="btn yellow hoverable"><i class="material-icons">edit</i></a></td>
                    <td><a href="/admin/delete/{$value.Id}" class="btn red hoverable"><i class="material-icons">delete</i></a></td>
                </tr>
                {/loop}
            </tbody>

        </table>
<hr>
<!--
  <ul class="paginacao pagination">
    {loop="$paginas"}
    {if="($value-1) == $pagina"}
    <li class="active"><a href="{$value-1}">{$value}</a></li>
    {else}
    <li class="waves-effect hoverable"><a href="{$value-1}">{$value}</a></li>
    {/if}
    {/loop}
  </ul>
-->
    <ul class="paginacao pagination">
    {if="$post == 1"}
        {if="$pagina == 0"}
        <li class="disabled"><a href="#" disabled><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="filter/0">1</a></li>
        {loop="$paginas"}
        {if="$value <= $pagina+3"}  <!--Altera o numero de resultados a aprecer-->
            {if="$value != 1"}
            <li class="waves-effect hoverable"><a href="filter/{$value-1}">{$value}</a></li>
            {/if}
        {/if}
        {/loop}
        {if="$numPags != 1"}
        <li class="waves-effect hoverable"><a href="filter/{$pagina+1}"><i class="material-icons">chevron_right</i></a></li>
        {else}
        <li class="disabled"><a href="#" disabled><i class="material-icons">chevron_right</i></a></li>
        {/if}
        {/if}

    {else}

        {if="$pagina == 0"}
        <li class="disabled"><a href="#" disabled><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="0">1</a></li>
        {loop="$paginas"}
        {if="$value <= $pagina+3"}  <!--Altera o numero de resultados a aprecer-->
            {if="$value != 1"}
            <li class="waves-effect hoverable"><a href="{$value-1}">{$value}</a></li>
            {/if}
        {/if}
        {/loop}
        {if="$numPags != 1"}
        <li class="waves-effect hoverable"><a href="{$pagina+1}"><i class="material-icons">chevron_right</i></a></li>
        {else}
        <li class="disabled"><a href="#" disabled><i class="material-icons">chevron_right</i></a></li>
        {/if}

        {else}
        <li class="waves-effect hoverable"><a href="{$pagina-1}"><i class="material-icons">chevron_left</i></a></li>
        {loop="$paginas"}
            {if="$value <= $pagina+2"}<!--Altera o numero de resultados a aprecer-->
                {if="$value-1 >= $pagina"}
                    {if="($value-1) == $pagina"}
                    <li class="waves-effect hoverable"><a href="{$value-2}">{$value-1}</a></li>
                        <li class="active"><a href="{$value-1}">{$value}</a></li>
                    {else}
                    <li class="waves-effect hoverable"><a href="{$value-1}">{$value}</a></li>
                    {/if}
                {/if}
            {/if}
        {/loop}
            {if="$pagina+1 < $numPags"}
            <li class="waves-effect hoverable"><a href="{$pagina+1}"><i class="material-icons">chevron_right</i></a></li>
            {else}
            <li class="disabled"><a href="#" disabled><i class="material-icons">chevron_right</i></a></li>
            {/if}
        {/if}
    {/if}
  </ul>
        <a href="/admin/add" class="btn" style="float: right; margin-top: 10px"><i class="material-icons">add_circle</i> Adicionar Usuário</a>
        <br>
        <br>
        <br>
    </div>
</div>

<script>
function searchName() {
  document.getElementById("buscaNome").remove();
  document.getElementById('nome').type = "text";
  document.getElementById('verBuscaNome').value = 1;
}

function searchEmail() {
  document.getElementById("buscaEmail").remove();
  document.getElementById('email').type = "text";
  document.getElementById('verBuscaEmail').value = 1;
}

function searchDate() {
  document.getElementById("buscaData").remove();
  document.getElementById('data').type = "text";
  document.getElementById('verBuscaData').value = 1;
}
</script>

