
<div class="row">
    <div class="col s12 m6 push-m3">
        <table>
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Criação</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Gabriel</td>
                    <td>gabrielperinotto@hotmail.com</td>
                    <td>20/03/2020</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>