{if="$erro != ''"}
<script>
    window.onload = function(){
        M.toast({html: '{$erro}'});
    }
</script>
{/if}

<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-sm-5 col-md-6 offset-md-3">
        <h3 align="center">Login</h3>
        <hr>

        <form method="POST">
            <div class="input-group flex-nowrap shadow-sm" style="margin-bottom: 10px">
                <span class="input-group-text" id="input1"><i class="fas fa-user"></i></span>
                <input type="email" class="form-control" name="email" id="email" required="" value="{$email}" placeholder="Email" aria-describedby="input1">
            </div>
            <div class="input-group flex-nowrap shadow-sm" style="margin-bottom: 10px">
                <span class="input-group-text" id="input2"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control" name="senha" id="senha" required="" placeholder="Senha" aria-describedby="input2">
            </div>

            <hr>

        <p id="createAccountP">Ainda não tem um conta? <a href="/0/signin" style="text-decoration: none;">Crie uma agora</a></p>
        <button type="submit" class="btn btn-success" style="float: right; margin-left: 10px"><i class="fas fa-check"></i> Entrar</button>
        <a href="/" class="btn btn-secondary" style="float: right"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
        </form>
    </div>
</div>