<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
        <h1 align="center">Notícias</h3>

        <form method="POST">
            <ul class="listaFiltro shadow">
                <li class="textoFiltro"><strong>Buscar por: </strong></li>
                <li class="elementoFiltro">
                    <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="input1">Título</span>
                    {if="$filtros.titulo != ''"}
                    <input type="text" class="form-control" name="titulo" id="titulo" value="{$filtros.titulo}" aria-describedby="input1">
                    <input type="hidden" name="verBuscaTitulo" id="verBuscaTitulo" value="1">
                    {else}
                    <input type="text" class="form-control" name="titulo" id="titulo" aria-describedby="input1">
                    <input type="hidden" name="verBuscaTitulo" id="verBuscaTitulo" value="1">
                    {/if}
                    </div>
                </li>
                <li class="elementoFiltro">
                    <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="input1">Categoria</span>
                    {if="$filtros.categoria != ''"}
                    <input type="text" class="form-control" name="categoria" id="categoria" value="{$filtros.categoria}" aria-describedby="input2">
                    <input type="hidden" name="verBuscaCategoria" id="verBuscaCategoria" value="1">
                    {else}
                    <input type="text" class="form-control" name="categoria" id="categoria" aria-describedby="input2">
                    <input type="hidden" name="verBuscaCategoria" id="verBuscaCategoria" value="1">
                    {/if}
                    </div>
                </li>
                <li class="elementoFiltro">
                    <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="input4">Data</span>
                    {if="$filtros.data != ''"}
                    <input type="text" class="form-control" name="data" id="data" value="{$filtros.data}" aria-describedby="input4" autocomplete="off">
                    <input type="hidden" name="verBuscaData" id="verBuscaData" value="1">
                    {else}
                    <input type="text" class="form-control" name="data" id="data" aria-describedby="input4" autocomplete="off">
                    <input type="hidden" name="verBuscaData" id="verBuscaData" value="1">
                    {/if}
                    </div>
                </li>
                <li class="elementoFiltro">
                    <!--Espaçamento-->
                </li>
                <li class="elementoFiltro">
                    <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="input1">Usuário</span>
                    {if="$filtros.usuario != ''"}
                    <input type="text" class="form-control" name="usuario" id="usuario" value="{$filtros.usuario}" aria-describedby="input3">
                    <input type="hidden" name="verBuscaUsuario" id="verBuscaUsuario" value="1">
                    {else}
                    <input type="text" class="form-control" name="usuario" id="usuario" aria-describedby="input3" autocomplete="off">
                    <input type="hidden" name="verBuscaUsuario" id="verBuscaUsuario" value="1">
                    {/if}
                    </div>
                </li>
            </ul>
            <br>
            <a href="/adminNews/search/0" class="btn btn-secondary" style="float: right; margin-left: 10px; margin-top: -15px"><i class="fas fa-times"></i> Limpar Busca</a>
            <button type="submit" class="btn btn-primary" style="float: right; margin-top: -15px"><i class="fas fa-search"></i> Buscar</button>
            <br>
        </form>

        <hr>
        <br>

        {if="$message != ''"}
            <p id="error">{$message}</p>
        {/if}

        <table class="table table-striped shadow" id="tableNews">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Corpo</th>
                    <th>Categoria</th>
                    <th>Autor</th>
                    <th>Visualizações</th>
                    <th>Data</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {loop="$noticias"}
                <tr>
                    <th>{$value.Id}</th>
                    <td>{$value.Titulo}</td>
                    <td>{function="removeTags($value.Corpo)"}</td>
                    <td>{$value.Categoria}</td>
                    <td>{$value.Usuario}</td>
                    <td class="center">{$value.Visualizacao}</td>
                    <td>{function="formatDate($value.Data)"}</td>
                    {if="$value.Usuario == $usuario"}
                    <td style="vertical-align: middle;"><a href="/adminNews/edit/{$value.Id}" class="buttonEdit" style="float: right;"><i class="fas fa-edit"></i> Editar</td>
                    <td style="vertical-align: middle;"><a href="/adminNews/delete/{$value.Id}" class="buttonDelete" ><i class="fas fa-trash"></i> Excluir</td>
                    {else}
                    <td style="vertical-align: middle;"><a href="#" class="buttonDisable" style="float: right;" disabled><i class="fas fa-edit"></i> Editar</td>
                    <td style="vertical-align: middle;"><a href="#" class="buttonDisable" style="float: right;" disabled><i class="fas fa-trash"></i> Excluir</td>
                    {/if}
                </tr>
                {/loop}
            </tbody>
        </table>

        <hr>


        <nav aria-label="Page navigation example">
        <ul class="pagination">
        {if="$post == 1"}
            {if="$pagina == 0"}
                <li class="page-item disabled"><a class="page-link" href="#" disable><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
            {loop="$paginas"}
            {if="$value <= $pagina+4"}  <!--Altera o numero de resultados a aparecer-->
                {if="$value != 1"}
                <li class="page-item"><a class="page-link" href="filter/{$value-1}">{$value}</a></li>
                {/if}
            {/if}
            {/loop}
            {if="$numPags != 1"}
                <li class="page-item"><a class="page-link" href="{$pagina+1}"><i class="fas fa-chevron-right"></i></a></li>
            {else}
                <li class="page-item disabled"><a class="page-link" href="#" disabled><i class="fas fa-chevron-right"></i></a></li>
            {/if}
            {/if}

        {else}

            {if="$pagina == 0"}
                <li class="page-item disabled"><a class="page-link" href="#" disabled><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="0">1</a></li>
                {loop="$paginas"}
                {if="$value <= $pagina+4"}  <!--Altera o numero de resultados a aparecer-->
                    {if="$value != 1"}
                    <li class="page-item"><a class="page-link" href="{$value-1}">{$value}</a></li>
                    {/if}
                {/if}
                {/loop}
                {if="$numPags != 1"}
                    <li class="page-item"><a class="page-link" href="{$pagina+1}"><i class="fas fa-chevron-right"></i></a></li>
                {else}
                    <li class="page-item disabled"><a class="page-link" href="#" disabled><i class="fas fa-chevron-right"></i></a></li>
                {/if}

            {else}
                <li class="page-item"><a class="page-link" href="{$pagina-1}"><i class="fas fa-chevron-left"></i></a></li>
                {loop="$paginas"}
                    {if="$value <= $pagina+3"}<!--Altera o numero de resultados a aparecer-->
                        {if="$value-1 >= $pagina"}
                            {if="($value-1) == $pagina"}
                            {if="$pagina != 1"}
                                <li class="page-item"><a class="page-link" href="{$value-3}">{$value-2}</a></li>
                            {/if}
                            <li class="page-item"><a class="page-link" href="{$value-2}">{$value-1}</a></li>
                            <li class="page-item active"><a class="page-link" href="{$value-1}">{$value}</a></li>
                            {else}
                            <li class="page-item"><a class="page-link" href="{$value-1}">{$value}</a></li>
                            {/if}
                        {/if}
                    {/if}
                {/loop}
                {if="$pagina+1 < $numPags"}
                    <li class="page-item"><a class="page-link" href="{$pagina+1}"><i class="fas fa-chevron-right"></i></a></li>
                {else}
                    <li class="page-item disabled"><a a class="page-link" href="#" disabled><i class="fas fa-chevron-right"></i></a></li>
                {/if}


            {/if}
        {/if}
        </ul>
        </nav>

        <a href="/adminNews/add" class="btn btn-primary addButton"><i class="fas fa-plus-circle"></i> Adicionar Notícia</a>
    </div>
</div>

<br>
