.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}

.itemMenu {
  float: left;
  border-right:1px solid #bbb;
}

.lilogin{
  float: right;
  border-left: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

.selecaoMenu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #111
}

.titulo {
   float: left;
  border-right:1px solid #bbb;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tituloFiltro {
  float: left;
  border-right:1px solid #bbb;
  display: block;
  color: white;
  text-align: center;
  padding: 32px 16px;
  text-decoration: none;
}

.busca{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1px 7px;
  text-decoration: none;
  border-right:none;
  width: 25%;
}

.busca2{
  display: block;
  color: white;
  text-align: center;
  padding: 1px 7px;
  text-decoration: none;
  border-right:none;
  width: 20%;
}

.listaFiltro{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: static;
  top: 0;
  width: 100%;
}

.imagem{
  width: 45px;
  height: 45px;
}

.paginacao{
  width: 40%;
  float: left;
}