<br>
<br>
<br>
<br>


<h2 align="left" id="favoritesTitle"> Favoritos</h2>

      <div class="row">

        <div class="col-sm-12 col-md-10 offset-md-1">
          <div class="row row-cols-2 row-cols-md-4 g-4">
          {loop="$favoritos"}
            <div class="col">
            <div class="card">
              {if="isset($value.Imagem)"}
              <img src="../../res/site/images/{$value.Imagem}" class="card-img-top" style="width: 100%; height: 60%;">
              {else}
              <img src="../../res/site/defaults/default.jpg" class="card-img-top" style="width: 100%; height: 60%;">
              {/if}
              <div class="card-body" style="background-color: black">
                <!--Verificando se a noticia esta nos favoritos e craindo o botão de Favorito-->
                {function="isInFavorite($value.Id)"}
                  <a href="/{$pagina}/favoriteRemove/{$value.Id}" class="btn btn-warning" style="border-radius: 30px; padding: 10px; float: right; color: black;">
                  <i class="fas fa-star"></i>
                  </a>

                <h5 class="card-title">{$value.Titulo}</h5>
                <a href="/news/{$value.Id}" class="btn btn-info" style="margin: 10px">Acessar</a>
              </div>
              <div class="card-footer" style="font-size: 13px; background-color: lightgray">
                <small class="text-muted">Publicado em: {function="formatDate($value.Data)"} por {$value.Usuario}</small>
              </div>
            </div>
            </div>
          {/loop}
        </div>

          </div>
      </div>


<hr>
        <nav id="paginationBar">
        <ul class="pagination">
            {if="$pagina == 0"}
                <li class="page-item disabled"><a class="page-link" href="#" disabled><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="/0/myFavorites">1</a></li>
                {loop="$paginas"}
                {if="$value <= $pagina+4"}  <!--Altera o numero de resultados a aparecer-->
                    {if="$value != 1"}
                    <li class="page-item"><a class="page-link" href="/{$value-1}/myFavorites">{$value}</a></li>
                    {/if}
                {/if}
                {/loop}
                {if="$numPags != 1"}
                    <li class="page-item"><a class="page-link" href="/{$pagina+1}/myFavorites"><i class="fas fa-chevron-right"></i></a></li>
                {else}
                    <li class="page-item disabled"><a class="page-link" href="#" disabled><i class="fas fa-chevron-right"></i></a></li>
                {/if}

            {else}
                <li class="page-item"><a class="page-link" href="/{$pagina-1}/myFavorites"><i class="fas fa-chevron-left"></i></a></li>
                {loop="$paginas"}
                    {if="$value <= $pagina+3"}<!--Altera o numero de resultados a aparecer-->
                        {if="$value-1 >= $pagina"}
                            {if="($value-1) == $pagina"}
                            {if="$pagina != 1"}
                                <li class="page-item"><a class="page-link" href="/{$value-3}/myFavorites">{$value-2}</a></li>
                            {/if}
                            <li class="page-item"><a class="page-link" href="/{$value-2}/myFavorites">{$value-1}</a></li>
                            <li class="page-item active"><a class="page-link" href="/{$value-1}/myFavorites">{$value}</a></li>
                            {else}
                            <li class="page-item"><a class="page-link" href="/{$value-1}/myFavorites">{$value}</a></li>
                            {/if}
                        {/if}
                    {/if}
                {/loop}
                {if="$pagina+1 < $numPags"}
                    <li class="page-item"><a class="page-link" href="{$pagina+1}/myFavorites"><i class="fas fa-chevron-right"></i></a></li>
                {else}
                    <li class="page-item disabled"><a a class="page-link" href="#" disabled><i class="fas fa-chevron-right"></i></a></li>
                {/if}


            {/if}
        </ul>
        </nav>
<br>
<br>
<br>