

        <footer class="footer page-footer">
          <div class="footer-copyright grey darken-3">
            <div class="container">
            © 2021 CRM Soluções
            <a class="grey-text text-lighten-4 right" href="https://github.com/Gabrielopes01" target="_blank"><i class="material-icons" style="margin-top: 2px">explore</i> GitHub: Gabrielopes01</a>
            </div>
          </div>
        </footer>


<!--Jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  $(document).ready(function(){
    $('select').formSelect();
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      i18n: {
        cancel: 'Cancelar',
        monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
        months: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
        weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ]
      }
    });
    $('.carousel').carousel();
  });


  function mouseSobre(variavel){
    variavel.style.backgroundColor = "#37474f";
  }

    function mouseSaiu(variavel){
    variavel.style.backgroundColor = "black";
  }
</script>

</body>
</html>