

        <footer class="footer mt-auto">
          <div class="footer-copyright grey darken-3">
            <div class="container" style="text-align: center; color: #cccccc">
            © 2021 CRM Soluções - Criado Por
            <a href="https://github.com/Gabrielopes01" target="_blank" id="nameGit"></i> Gabriel Lopes</a>
            </div>
          </div>
        </footer>


<script>

//Animação do Título da Home
    let area = $('#titleRecents').offset();   //Área do elemento do titulo
    stop = 0;

    $(window).scroll(function() {

        let scroll = $(window).scrollTop();

        if (scroll > (area.top - 900) && stop == 0){

            $('#titleRecents').css({"width": "128%"})

            stop = 1;
        }


    });
</script>

</body>
</html>