
<h2 class="light center"; id="titleText"; align="left"> Notícias</h2>

      <div class="row grey darken-3" style="margin: 10px 10px 0 10px; border-radius: 25px">

        {if="$maisVistos != []"}
        <h2 class="light center"; align="left" style="font-family: 'Trebuchet MS', sans-serif;  background-color: grey; border-radius: 15px 15px 0px 0px; margin-bottom: 3px"> Mais Acessadas</h2>

        <div class="slider">
          <ul class="slides">
          {loop="$maisVistos"}
          {if="isset($value.Imagem)"}
              <li>
              <img src="../../res/site/images/{$value.Imagem}">
              <div class="caption center-align"; id="slide-caption">
                <h3>{$value.Titulo}</h3>
                <a href="/news/{$value.Id}" class="blue-text"><h5 class="light text-lighten-3">Acessar Notícia</h5></a>
              </div>
            </li>
          {else}
              <li>
                <img src="../../res/site/defaults/default.jpg">
                <div class="caption center-align" style="background-color: black; border: 3px solid white">
                  <h3>{$value.Titulo}</h3>
                  <a href="/news/{$value.Id}" class="blue-text"><h5 class="light text-lighten-3">Acessar Notícia</h5></a>
                </div>
              </li>
          {/if}
          {/loop}

        </div>
        {/if}


        <h2 class="light center"; align="left" style="font-family: 'Trebuchet MS', sans-serif;  background-color: grey"> Mais Recentes </h2>

        {loop="$noticias"}
        <div class="col s12 m6 l2">
          <div class="card black white-text hoverable" style="width: 200px; height: 350px;  margin-left: 10px">

            <div class="card-image">
            <!--Verificando se há uma imagem cadastrada, se não houver ele usa a base-->
              {if="isset($value.Imagem)"}
              <img class="materialboxed" src="../../res/site/images/{$value.Imagem}"  style="width: 200px; height: 150px; background-color: grey">
              {else}
              <img class="materialboxed" src="../../res/site/defaults/default.jpg" style="width: 200px; height: 180px">
              {/if}
              <!--Verificando se a noticia esta nos favoritos e craindo o botão de Favorito-->
              {function="isInFavorite($value.Id)"}
              {if="$_SESSION['favorito'] == 1"}
                <a href="/{$pagina}/favorite/{$value.Id}" class="btn-floating halfway-fab waves-effect waves-light yellow pulse">
                <i class="material-icons black-text">star</i>
                </a>
              {else}
                {if="$_SESSION['favorito'] == 0"}
                    <a href="/{$pagina}/favorite/{$value.Id}" class="btn-floating halfway-fab waves-effect waves-light yellow">
                    <i class="material-icons white-text">star</i>
                    </a>
                {else}
                    <a href="#" class="btn-floating halfway-fab disabled">
                    <i class="material-icons white-text">star</i>
                    </a>
                {/if}
              {/if}
            </div>

            <!--Parte frontal do card da noticia onde ha o texto e o botão para mais informações-->
            <div class="card-content">
              <span class="card-title activator">{$value.Titulo} <i class="material-icons right">more_vert</i></span>
              <p class="bottom">Publicado em: {function="formatDate($value.Data)"}</p>
            </div>

            <!--Card com mais informações da notícia-->
            <div class="card-reveal black white-text">
              <span class="card-title"><i class="material-icons right">close</i></span>
              <a href="/news/{$value.Id}">Acessar Notícia</a>
              <p>Data: {function="formatDate($value.Data)"}</p>
              <p>Autor: {$value.Usuario}</p>
              {if="isset($value.Resumo)"}
              <p>{$value.Resumo}</p>
              {else}
              <p></p>
              {/if}
            </div>

          </div>
        </div>
        {/loop}


      </div>

<!--Paginação-->
<ul class="pagination center grey darken-3">
    <!--Caso seja a primeria pagina-->
    {if="$pagina == 0"}
    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="/0">1</a></li>
    <li class="white-text">. </li>
    {else}
    <li class="waves-effect"><a href="/{$pagina-1}" class="white-text"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="/0" class="white-text">1</a></li>
    <li class="white-text">. </li>
    {/if}
    <!--Paginação do Meio-->
    {loop="$paginas"}
    {if="$value < $pagina-2"}
        {continue}
    {/if}
    {if="$value == $pagina+2"}
        {break}
    {else}
        {if="$value == $pagina"}
        {if="$value+1 == $numPags"}
            {break}
        {/if}
        <li class="active"><a href="/{$value}">{$value+1}</a></li>
        {else}
        {if="$value+1 == $numPags"}
            {break}
        {/if}
        <li class="waves-effect"><a class="white-text" href="/{$value}">{$value+1}</a></li>
        {/if}
    {/if}
    {/loop}
    {if="$pagina+1 == $numPags"}
    <li class="white-text">. </li>
    <li class="active"><a class="white-text" href="/{$numPags-1}">{$numPags}</a></li>
    <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
    {else}
    <!--Verificando se ha mais de 1 pagina-->
      {if="$numPags > 0"}
      <li class="white-text">. </li>
      <li class="waves-effect"><a class="white-text" href="/{$numPags-1}">{$numPags}</a></li>
        <!--Verificando se é o fim da pagina e inserindo a chave-->
        {if="($pagina+1) != $numPags"}
        <li class="waves-effect"><a class="white-text" href="{$pagina+1}"><i class="material-icons">chevron_right</i></a></li>
        {/if}
      {/if}
    {/if}
  </ul>

<br>
<br>
<br>
