<br>
<br>
<br>
<br>
<div class="container-fluid">
        {if="$maisVistos != []"}
        <div id="mainSlider" class="carousel slide" data-bs-ride="carousel">
                <!--Indicadores do Slider de Carrossel-->
                <ol class="carousel-indicators">
                    <li data-bs-target="#mainSlider" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#mainSlider" data-bs-slide-to="1"></li>
                    <li data-bs-target="#mainSlider" data-bs-slide-to="2"></li>
                    <li data-bs-target="#mainSlider" data-bs-slide-to="3"></li>
                    <li data-bs-target="#mainSlider" data-bs-slide-to="4"></li>
                    <li data-bs-target="#mainSlider" data-bs-slide-to="5"></li>
                </ol>
                <!--Parte Interna do Carrossel-->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="../../res/site/defaults/news.jpg">
                        <!--Texto do Carrossel-->
                        <div class="carousel-caption d-md-block" id="slide-caption">
                            <h3 id="mostView">As Notícias mais acessadas</h3>
                            <p>As notícias mais populares do Forum você encontra aqui</p>
                        </div>
                    </div>
                  {loop="$maisVistos"}
                  {if="isset($value.Imagem)"}
                    <!--Imagens do Carrossel-->
                    <div class="carousel-item">
                        <img style="height: 100%; width: 100%; background-color: white" src="../../res/site/images/{$value.Imagem}">
                        <!--Texto do Carrossel-->
                        <div class="carousel-caption d-md-block" id="slide-caption">
                            <h3>{$value.Titulo}</h3>
                            <p class="d-none d-sm-block">{$value.Resumo}</p>
                            <a href="/news/{$value.Id}" class="main-btn btn btn-primary"><h5 style="font-size: 13px">Acessar Notícia</h5></a>
                        </div>
                    </div>
                  {else}
                    <!--Imagens do Carrossel-->
                      <div class="carousel-item">
                          <img style="height: 100%; width: 100%;" src="../../res/site/defaults/default.jpg">
                          <!--Texto do Carrossel-->
                          <div class="carousel-caption d-md-block" id="slide-caption">
                              <h3>{$value.Titulo}</h3>
                              <p class="d-none d-sm-block">{$value.Resumo}</p>
                              <a href="/news/{$value.Id}" class="main-btn btn btn-primary"><h5 style="font-size: 13px">Acessar Notícia</h5></a>
                          </div>
                      </div>
                  {/if}
                  {/loop}

                <!--Seta para Anterior-->
                <a href="#mainSlider" class="carousel-control-prev" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </a>

                <!--Seta para Próximo-->
                <a href="#mainSlider" class="carousel-control-next" role="button" data-bs-slide="next">
                    <span class="visually-hidden">Próximo</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        {/if}

      <div class="row " style="margin: 10px 10px 0 10px; border-radius: 25px; margin-top: 30px">
        <div class="col-sm-12 col-md-10 offset-md-1">
          <h2 class="d-none d-sm-block" id="titleRecents">As Mais Recentes </h2>
          <h2 class="d-xl-none" id="titleRecentsSm">As Mais Recentes </h2>

        <div class="row row-cols-2 row-cols-md-4 g-4">
          {loop="$noticias"}
            <div class="col">
            <div class="card">
              <div id="imageNews">
                {if="isset($value.Imagem)"}
                <img src='../../res/site/images/{function="imageExists($value.Imagem)"}' class="card-img-top">
                {else}
                <img src="../../res/site/defaults/default.jpg" class="card-img-top" >
                {/if}
              </div>
              <div class="card-body" style="background-color: black">
                <!--Verificando se a noticia esta nos favoritos e craindo o botão de Favorito-->
                {function="isInFavorite($value.Id)"}
                <p id="{$value.Id}" style="float: right;">
                {if="$_SESSION['favorito'] == 1"}
                  <a class="btn btn-warning favButton" onclick="favButtonC({$value.Id})" style="color: black;">
                  <i class="fas fa-star"></i>
                  </a>
                {else}
                  {if="$_SESSION['favorito'] == 0"}
                      <a class="btn btn-warning favButton" onclick="favButtonC({$value.Id})" style="color: white">
                      <i class="fas fa-star"></i>
                      </a>
                  {else}
                      <a href="#" class="btn btn-secondary disabled" style="color: white; border-radius: 30px; padding: 10px; float: right;">
                      <i class="fas fa-star"></i>
                      </a>
                  {/if}
                {/if}
                </p>
                <h5 class="card-title">{$value.Titulo}</h5>
                <a href="/news/{$value.Id}" class="btn btn-info" style="margin: 10px; border-radius: 4px">Acessar</a>
              </div>
              <div class="card-footer" style="font-size: 13px; background-color: lightgray">
                <small class="text-muted">Publicado em: {function="formatDate($value.Data)"} por {$value.Usuario}</small>
              </div>
            </div>
            </div>
          {/loop}
        </div>

          </div>
      </div>
</div>
<!--Paginação-->
<hr>
        <nav id="paginationBar">
        <ul class="pagination">
            {if="$pagina == 0"}
                <li class="page-item disabled"><a class="page-link" href="#" disabled><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="0">1</a></li>
                {loop="$paginas"}
                {if="$value <= $pagina+4"}  <!--Altera o numero de resultados a aparecer-->
                    {if="$value != 1"}
                    <li class="page-item"><a class="page-link" href="{$value-1}">{$value}</a></li>
                    {/if}
                {/if}
                {/loop}
                {if="$numPags != 1"}
                    <li class="page-item"><a class="page-link" href="{$pagina+1}"><i class="fas fa-chevron-right"></i></a></li>
                {else}
                    <li class="page-item disabled"><a class="page-link" href="#" disabled><i class="fas fa-chevron-right"></i></a></li>
                {/if}

            {else}
                <li class="page-item"><a class="page-link" href="{$pagina-1}"><i class="fas fa-chevron-left"></i></a></li>
                {loop="$paginas"}
                    {if="$value <= $pagina+3"}<!--Altera o numero de resultados a aparecer-->
                        {if="$value-1 >= $pagina"}
                            {if="($value-1) == $pagina"}
                            {if="$pagina != 1"}
                                <li class="page-item"><a class="page-link" href="{$value-3}">{$value-2}</a></li>
                            {/if}
                            <li class="page-item"><a class="page-link" href="{$value-2}">{$value-1}</a></li>
                            <li class="page-item active"><a class="page-link" href="{$value-1}">{$value}</a></li>
                            {else}
                            <li class="page-item"><a class="page-link" href="{$value-1}">{$value}</a></li>
                            {/if}
                        {/if}
                    {/if}
                {/loop}
                {if="$pagina+1 < $numPags"}
                    <li class="page-item"><a class="page-link" href="{$pagina+1}"><i class="fas fa-chevron-right"></i></a></li>
                {else}
                    <li class="page-item disabled"><a a class="page-link" href="#" disabled><i class="fas fa-chevron-right"></i></a></li>
                {/if}


            {/if}
        </ul>
        </nav>

<br>
<br>
<br>


<script>
function favButtonC(id) {

  $.post("/0/favorite/" + id)
    .done(function(data) {
      $('#'+id).html(data);
    })
    .fail(function(){
      $('#'+id).html("Erro");
    });

}
</script>